<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informações Gerais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color='success'>Recuperação Pós-Transplante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Após a realização da cirurgia, inicia-se o período derecuperação imediata do transplante renal, 
        que geralmente leva de cinco a sete dias. Nessa primeira fase, o paciente pode necessitar passar 
        um ou dois dias na Unidade de Terapia Intensiva (UTI), ou na unidade semiintensiva do hospital, 
        embora isso não seja necessário na maioria das vezes. A seguir, o paciente é encaminhado ao setor 
        de internação geral, onde pode ficar por uma semana ou mais, quando então recebe a alta hospitalar e 
        é encaminhado para acompanhamento ambulatorial.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color='success'>Cuidados durante a recuperação</ion-card-title>
    </ion-card-header>
    <ion-card-content>
         Após a cirurgia, iniciam-se os cuidados médicos que vão durar por toda a vida do transplantado. 
         Exames clínicos, laboratoriais e de imagens são feitos de acordo com o protocolo de cada serviço 
         e segundo a necessidade de cada caso. Ocorrerão também visitas diárias de médicos, cirurgiões, enfermeiros, 
         nutricionistas e, se necessário, fisioterapeutas. A alta ocorre em geral após uma semana de cirurgia, 
         mas vai depender da recuperação de cada paciente.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color='success'>Medicamentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
         Após a cirurgia, iniciam-se os cuidados médicos que vão durar por toda a vida do transplantado. 
         Exames clínicos, laboratoriais e de imagens são feitos de acordo com o protocolo de cada serviço 
         e segundo a necessidade de cada caso. Ocorrerão também visitas diárias de médicos, cirurgiões, enfermeiros, 
         nutricionistas e, se necessário, fisioterapeutas. A alta ocorre em geral após uma semana de cirurgia, 
         mas vai depender da recuperação de cada paciente.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color='success'>Complicações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
         Um dos principais problemas após o transplante é a rejeição. O sistema imunológico protege o 
         organismo de infecções e de tudo que lhe for estranho. As células deste sistema percorrem cada
         parte do corpo procurando e conferindo se existe algo diferente do que elas estão acostumadas a 
         encontrar. Estas células identificam o órgão transplantado como sendo algo diferente do resto do 
         corpo e ameaçam destruí-lo.
    </ion-card-content>
  </ion-card>
</ion-content>
